<div  class="service_create_main_form"
      ng-init='
        controller.images = <%=
          [
            @service.picture.additional_photo.url,
            @service.picture2.additional_photo.url,
            @service.picture3.additional_photo.url,
            @service.picture4.additional_photo.url,
          ].compact.to_s.html_safe
        %>;
      '
>
  <div class="left_form_service_create">
    <%= render "form_regular", service: @service %>
    <%= render "form_road", service: @service %>
  </div>
  <div class="right_form_service_create">
    <%= image_tag(@service.item.picture.at_service_page.url, alt: @service.item.title) %>
    <div class="service_form_info">
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
    </div>
  </div>
</div>
