<div  class="service_create_main_form"
      ng-init='
        controller.images = <%=
          [
            @service.picture.additional_photo.url,
            @service.picture2.additional_photo.url,
            @service.picture3.additional_photo.url,
            @service.picture4.additional_photo.url,
          ].compact.to_s.html_safe
        %>;
      '
>
  <div class="left_form_service_create">
    <div class="form_service_create">
      <%= simple_form_for(@service) do |f| %>
        <div class="error_explanation service">
          <%= render "shared/form_errors", object: @service -%>
        </div>
        <%= f.hidden_field :item_id %>
        <%= hidden_field_tag :token, params[:token] %>
        <ol>
          <strong>
            <% @action_kinds.each do |action_kind| %>
              <%= radio_button_tag("action_kind", action_kind.id) %>
              <%= label_tag "action_kind_#{action_kind.id}", action_kind.title %>
            <% end %>
          </strong>
          <div class="half_form_field service_form">
            <span class="field_name">
              <li class="block"><%= t(".service_kind") %></li>
            </span>
            <%= select_tag "service_kind",
                             options_from_collection_for_select(@service_kinds, "id", "title"),
                             autofocus: true,
                             :"ng-change" => "changedServiceKind({ withText: #{@service_kinds.select { |k| k.with_text }.map(&:id)} })",
                             :"ng-model" => "serviceKind",  prompt: t(".select_service") %>
            <%= text_field "text", "service_kind_coment", placeholder: t(".service_kind_comment"), :"ng-show" => "showServiceKindText", class: "service_kind_coment"%>
            <%# <div class="added_date">
              <p class="field_name">
                2. <%= t(".service_date") %->
              </p>
              <input type="date">
              <div class="date_icon">
                <%= image_tag "calendar-icon.png" %->
                <%= t(".choose_date") %->
              </div>
            </div> %>
          </div>
          <span class="field_name company_field_edit">
            <li class="block"><%= t(".service_company") %></li>
          </span>
          <div class="company_select">
            <%= f.collection_select :company_id,
              @service.companies_options,
              :id, :name,
              {
                prompt: t(".select_company")
              },
              {
                :"ng-change" => "changedCompany({ myself: '#{@service.myself_option.id}', other: '#{@service.other_company_option.id}' })",
                :"ng-model" => "company"
              } %>
          </div>
          <div ng-show="showInviteCompany">
            <p class="field_name">
              <%= t(".new_company") %>
            </p>
            <div class="textarea">
              <%= text_area "text", "company_name", placeholder: t(".new_company_name") %>
            </div>
            <div class="select">
              <label>
                <input type="checkbox"/>
                <i>
                  <%= image_tag "select.png" %>
                </i>
                <span>
                  <%= t(".send_log") %>
                </span>
                <div class="company_email">
                  <p class="field_name">
                    <%= t(".company_email") %>
                  </p>
                  <%= text_field_tag :new_company, "new_company", value: "", placeholder: t(".new_company_email") %>
                  <div class="line"></div>
                </div>
              </label>
            </div>
          </div>
          <div class="price">
            <span class="field_name">
              <li><%= f.label 'Price' %> <%= t(".amount") %></li>
            </span>
            <%= f.text_field :price, placeholder: t(".price") %>
          </div>
          <div class="line"></div>
          <span class="field_name">
            <li class="block"><%= f.label :reminder, t(".remind_me")  %></li>
          </span>
          <div class="reminders">
            <%= f.collection_check_boxes :reminders_predefined, @service.predefined_reminders, :first, :last do |b| %>
              <div class="select reminder">
                <%= b.check_box  %>
                <i>
                  <%= image_tag "select.png" %>
                </i>
                <%= b.label  %>
              </div>
            <% end %>
            <p class="field_name">
              <%= t(".custom_date") %>
              <%= f.input :reminder_custom, as: :string,  input_html: { type: "date", min: Date.current } %>
            </p>
            <div class="date_icon">
              <%= image_tag "calendar-icon.png" %>
              <%= t(".choose_date") %>
            </div>
          </div>
          <div class="line"></div>
          <div class="service_photos">
            <span class="field_name">
              <li class="block"><%= t(".service_photo") %></li>
            </span>
            <div class="image-upload-box" style="background: url({{imagePreview[0] || controller.images[0]}}) no-repeat center center; background-size: cover;">
              <div ng-hide="(imagePreview[0] === undefined || imagePreview[0] === ' ') && (controller.images[0] === undefined || controller.images[0] === ' ')" class="input_field" >
                <%= image_tag(nil, "ng-src" => "{{imagePreview[0] || controller.images[0]}}") %>
                <%= link_to "&nbsp;".html_safe, "", :"ng-click" => "deleteImage($event, 0)" %>
              </div>
              <div class="photo_input" ng-show="(imagePreview[0] === undefined || imagePreview[0] === ' ') && (controller.images[0] === undefined || controller.images[0] === ' ')">
                <%= f.file_field :picture, :"data-file" => "true", :"data-index" => 0 %>
                <%= inline_svg "plus.svg" %>
              </div>
            </div>
            <div class="image-upload-box" style="background: url({{imagePreview[1] || controller.images[1]}}) no-repeat center center; background-size: cover;">
              <div ng-hide="(imagePreview[1] === undefined || imagePreview[1] === ' ') && (controller.images[1] === undefined || controller.images[1] === ' ')" class="input_field">
                <%= image_tag(nil, "ng-src" => "{{imagePreview[1] || controller.images[1]}}") %>
                <%= link_to "&nbsp;".html_safe, "", :"ng-click" => "deleteImage($event, 1)" %>
              </div>
              <div class="photo_input" ng-show="(imagePreview[1] === undefined || imagePreview[1] === ' ') && (controller.images[1] === undefined || controller.images[1] === ' ')">
                <%= f.file_field :picture2, :"data-file" => "true", :"data-index" => 1 %>
                <%= inline_svg "plus.svg" %>
              </div>
            </div>
            <div class="image-upload-box" style="background: url({{imagePreview[2] || controller.images[2]}}) no-repeat center center; background-size: cover;">
              <div ng-hide="(imagePreview[2] === undefined || imagePreview[2] === ' ') && (controller.images[2] === undefined || controller.images[2] === ' ')" class="input_field">
                <%= image_tag(nil, "ng-src" => "{{imagePreview[2] || controller.images[2]}}") %>
                <%= link_to "&nbsp;".html_safe, "", :"ng-click" => "deleteImage($event, 2)" %>
              </div>
              <div class="photo_input" ng-show="(imagePreview[2] === undefined || imagePreview[2] === ' ') && (controller.images[2] === undefined || controller.images[2] === ' ')">
                <%= f.file_field :picture3, :"data-file" => "true", :"data-index" => 2 %>
                <%= inline_svg "plus.svg" %>
              </div>
            </div>
            <div class="image-upload-box" style="background: url({{imagePreview[3] || controller.images[3]}}) no-repeat center center; background-size: cover;">
              <div ng-hide="(imagePreview[3] === undefined || imagePreview[3] === ' ') && (controller.images[3] === undefined || controller.images[3] === ' ')" class="input_field">
                <%= image_tag(nil, "ng-src" => "{{imagePreview[3] || controller.images[3]}}") %>
                <%= link_to "&nbsp;".html_safe, "", :"ng-click" => "deleteImage($event, 3)" %>
              </div>
              <div class="photo_input" ng-show="(imagePreview[3] === undefined || imagePreview[3] === ' ') && (controller.images[3] === undefined || controller.images[3] === ' ')">
                <%= f.file_field :picture4, :"data-file" => "true", :"data-index" => 3 %>
                <%= inline_svg "plus.svg" %>
              </div>
            </div>
          </div>
          <%# <div class="files">
            <p class="field_name">
              7. <%= t(".files") %->
            </p>
            <div class="field_files">
              <input type="file" name="file">
              <div class="icon">
                <%= image_tag "file-icon.png" %->
                <%= t(".choose_file") %->
              </div>
            </div>
          </div> %>
          <div class="price">
            <span class="field_name">
              <li><%= t(".comment") %></li>
            </span>
            <div class="textarea margin">
              <%= f.text_area :comment, placeholder: t(".comments") %>
            </div>
          </div>
          <%# if action_name == "new" %->
            <div class="block_multi_srvice"></div>
            <div class="add_multi_service">
              <a href=""><%= t(".add_more") %-></a>
              <span><%= t(".optional") %-></span>
            </div>
          <% end %>
          <div class="form-actions">
            <%= f.button :submit  %>
            <%= link_to t(".discard"), dashboard_path %>
          </div>
        </ol>
      <% end %>
    </div>
  </div>
  <div class="right_form_service_create">
    <%= image_tag(@service.item.picture_url, alt: @service.item.title) %>
    <div class="service_form_info">
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
    </div>
  </div>
</div>
