<div class="service_create_identity">
  <h1><%= t(".new_service") %></h1>
  <p class="item_info_service">
      <%= t(".for_your") %> <span><%= @item.title %>, </span>
          <% @item.characteristics.each do |characteristic| %>
            <span> <%= characteristic.value %></span>
          <% end %>
   </p>
</div>

<%= render 'form' %>
