<div class="margin_left">
<h1>Service</h1>
<p id="notice"><%= notice %></p>

<p><strong>Created at:</strong> <%= @service.created_at %></p>

<table>
  <thead>
  <tr>
    <th>Action</th>
    <th>Kind</th>
    <th>Comment</th>
  </tr>
  </thead>

  <tbody>
  <% @service.service_fields.each do |service_field| %>
      <tr>
        <td>
          <% @service.action_kinds.each do |action_kind| %>
              <%= "#{action_kind.title}" %>
          <% end %>
        </td>
        <td><%= service_field.service_kind.title %></td>
        <td><%= service_field.text %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><strong>Next control:</strong> <%= @service.next_control %></p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', item_path(@service.item) %>
</div>