<div class="bacground_green_static_pages">
  <div class="content_static_pagees">
    <h1 class="title"><%= t("about") %></h1>
    <div class="half_of_static">
      <h1><%= t("what_problem") %></h1>
      <p><strong><%= t("raplaces_paper") %></strong> <%= t("for_all_types") %></p>
      <p><strong><%= t("entry_point") %></strong> <%= t("and_service_book_for") %></p>
      <h1><%= t("WHY_TRACK_YOUR") %></h1>
      <ul>
        <li><%= t("service_book_for_your_car") %></li>
        <li><%= t("establishing_trust_between") %></li>
        <li><%= t("clear_prove_of") %></li>
        <li><%= t("Track_your") %></li>
        <li><%= t("Access_to_your") %></li>
        <li><%= t("Adding_additional") %></li>
        <li><%= t("Download_print") %></li>
      </ul>
    </div>
    <div class="half_of_static">
      <p><%= t("Track_all_services") %></p>
      <h1><%= t("Start_to_use") %></h1>
      <h1></h1>
      <h1><%= t("kind") %> <%= t("team") %></h1>
    </div>
  </div>
</div>
