<div class="background_green_static_pages ">
  <div class="content_static_pages">
  	<h1 class="title"><%= t("Careers") %></h1>
    <div class="half_of_static">
    	<p><strong>Distodi</strong> <%= t("affirmative_action_employer") %></p>
    </div>
    <div class="half_of_static">
    	<p><strong>Distodi</strong> <%= t("is_looking_for_the") %></p>
    	<h1><%= t("kind") %> <%= t("team") %></h1>
    </div>
  </div>
</div>