<div class="background_green_static_pages ">
  <div class="application">
    <%= link_to image_tag('logo_menu.png'), root_path %>
    <p><%= t(".application") %></p>
    <ul>
      <li>
        <%= image_tag('car_black_icon.png') %>
        <p><%= t(".Cars") %></p>
        
      </li>
      <li>
        <%= image_tag('truck_black_icon.png') %>
        <p><%= t(".Trucks") %>  </p>
      </li>
      <li>
        <%= image_tag('camp_black_icon.png') %>
        <p><%= t(".Campers") %></p>
      </li>
      <li>
        <%= image_tag('tractor_black_icon.png') %>
        <p><%= t(".Tractors") %></p>
      </li>
      <li>
        <%= image_tag('mover_black_icon.png') %>
        <p><%= t(".Mowers") %></p>
      </li>
      <li>
        <%= image_tag('bike_black_icon.png') %>
        <p><%= t(".Bicycles") %></p>
      </li>
      <li>
        <%= image_tag('moto_black_icon.png') %>
        <p><%= t(".Motorcycles") %></p>
      </li>
      <li>
        <%= image_tag('house_black_icon.png') %>
        <p><%= t(".Houses") %></p>
      </li>
      <li>
        <%= image_tag('airport_black_icon.png') %>
        <p><%= t(".Aircrafts") %></p>
      </li>
      <li>
        <%= image_tag('drone_black_icon.png') %>
        <p><%= t(".Drones") %></p>
      </li>
      <li>
        <%= image_tag('golf_black_icon.png') %>
        <p><%= t(".Golf") %></p>
      </li>
      <li>
        <%= image_tag('yaht_black_icon.png') %>
        <p><%= t(".Yachts") %></p>
      </li>
      <li>
        <%= image_tag('crown_black_icon.png') %>
        <p><%= t(".Paintings") %></p>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2><%= t(".solutions") %></h2>
    <div class="block">
      <%= t(".distodi_explication").html_safe %>
    </div>
    <div class="part">
      <%= t(".overview").html_safe %>
    </div>
    <div class="part">
      <%= t(".New_technologies").html_safe %>
    </div>
    <div class="team">
      <h2><%= t(".team") %></h2>
      <div>
        <div class="member">
          <div class="photo">
            <%= image_tag('irina.png') %>
          </div>
          <div class="info">
            <h4>Iryna Krejcarová</h4>
            <span class="position"><%= t(".Owner") %></span>
            <p class="info_position"><%= t(".Owner_info").html_safe %></p>
          </div>
        </div>

        <div class="member">
          <div class="photo">
            <%= image_tag('alexandr.png') %>
          </div>
          <div class="info">
            <h4>Oleksandr Pazhyn</h4>
            <span class="position"><%= t(".Designer") %></span>
            <p class="info_position"><%= t(".Designer_info").html_safe %></p>
          </div>
        </div>
      </div>
      <div class="member">
        <div class="photo">
          <%= image_tag('vovka.png') %>
        </div>
        <div class="info">
          <h4>Volodymyr Shcherbyna</h4>
          <span class="position"><%= t(".Developer") %></span>
          <p class="info_position"><%= t(".Developer_info").html_safe %></p>
        </div>
      </div>
      <div class="member">
        <div class="photo">
          <%= image_tag('gleb.png') %>
        </div>
        <div class="info">
          <h4>Gleb Yazykov</h4>
          <span class="position"><%= t(".Junior") %></span>
          <p class="info_position"><%= t(".Junior_info").html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>

