<!-- Banner -->
<div class="bacground_green">
<div class="content">
<div class="text">
	<div class="info">
		<%= t(".distodi_welcome") %>
	</div>
	<div class="info_small">
		<%= t(".create_service_book") %>
	</div>
	</div>
	<div class="slider">
		<div class="container_slider">
		<p><%= t(".select_vehicle") %></p>
			<div id="owl-example" class="owl-carousel">
				<div class="items"><%= image_tag "slide.png" %></div>
				<div class="items"><%= image_tag "slide2.png" %></div>
				<div class="items"><%= image_tag "slide3.png" %></div>
				<div class="items"><%= image_tag "slide4.png" %></div>
				<div class="items"><%= image_tag "slide.png" %></div>
				<div class="items"><%= image_tag "slide2.png" %></div>
				<div class="items"><%= image_tag "slide3.png" %></div>
				<div class="items"><%= image_tag "slide4.png" %></div>
				<div class="items"><%= image_tag "slide.png" %></div>
			</div>
			<div class="button">
				<%= link_to t(".create_free"), new_user_registration_path %>

			</div>

		</div>
	</div>
</div>

<div class="more_info">
	<div class="more">
		<%= t(".more") %>
	</div>
	<div class="arrow">
		<%= image_tag "arrow.png" %>
	</div>
</div>
</div>

