<!-- Banner -->
<div id="signup">
<%= link_to "Sign up as user", new_user_registration_path, class: "button icon fa-arrow-circle-right" %>
<%= link_to "Sign up as company", new_company_registration_path, class: "button icon fa-arrow-circle-right" %>
</div>


  <iframe width="100%" height="500px" src="https://www.youtube.com/embed/E5siSQWc8nI" frameborder="0" allowfullscreen></iframe>


<!-- Features -->


<!-- Main -->
<div id="main-wrapper">
  	<div class="container">
		<div class="row 200%">
			<div class="4u 12u(medium)">

				<!-- Sidebar -->
				<div id="sidebar">
					<section class="widget thumbnails">
						<h3>Items for Distodi</h3>
						<div class="grid">
							<div class="row 50%">
								<div class="6u"><a href="#" class="image fit"><%= image_tag('pic08.jpg') %>
									</a></div>
								<div class="6u"><a href="#" class="image fit"><%= image_tag('pic09.jpg') %></a></div>
								<div class="6u"><a href="#" class="image fit"><%= image_tag('pic10.jpg') %></a></div>
								<div class="6u"><a href="#" class="image fit"><%= image_tag('pic11.jpg') %></a></div>
							</div>
						</div>
						<a href="#" class="button icon fa-file-text-o">More</a>
					</section>
				</div>

			</div>
			<div class="8u 12u(medium) important(medium)">

				<!-- Content -->
				<div id="content">
					<section class="last">
						<h2>So what's this all about?</h2>
						<p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
							Verti is released under the , so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
							<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
                            <%= link_to "Sign up as user", new_user_registration_path, class: "button icon fa-arrow-circle-right" %>
                            <%= link_to "Sign up as company", new_company_registration_path, class: "button icon fa-arrow-circle-right" %>
							
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
