<div class="background_green_static_pages">
  <div class="content_static_pages">
    <h1 class="title"><%= t("Guarantee") %></h1>
    <div class="half_of_static">
      <p><%= t("At_Distodi_were") %></p>
      <p><%= t("The_safeguards") %></p>
      <ul>
        <li><%= t("Secure_firewalls") %></li>
        <li><%= t("Data_encryption") %></li>
        <li><%= t("Around_the_clock") %></li>
      </ul>
      <h1><%= t("This_is_important") %></h1>
      <p><%= t("We_are_not_responsible_for") %></p>
   </div>
    <div class="half_of_static">
      <ul>
        <li><%= t("voluntarily_disclose") %></li>
        <li><%= t("carelessly_or_improperly") %></li>
        <li><%= t("voluntarily_allow_another") %></li>
      </ul>
      <p><%= t("Do_not_respond_to_pop") %> <strong><%= t("never") %></strong> <%= t("send_you_unsolicited") %></p>
      <p><%= t("Review_your_statements") %></p>
      <p><%= t("By_working_together") %></p>
      <p><%= t("kind") %> <%= t("team") %></p>
    </div>
  </div>
</div>