<div class="bacground_green_static_pages">
  <div class="content_static_pagees">
    <h1 class="title"><%= t("Terms_Privacy") %></h1>
    <div class="half_of_static">
      <h1><%= t("Website_privacy") %></h1>
      <p><%= t("This_privacy_policy") %></p>
      <p><%= t("Distodi_is_committed") %></p>
      <p><%= t("Distodi_may_change") %></p>
      <h1><%= t("What_we_collect") %></h1>
      <p><%= t("We_may_collect") %></p>
      <ul>
        <li><%= t("Name_location") %></li>
        <li><%= t("contact_information") %></li>
        <li><%= t("demographic_information") %></li>
        <li><%= t("other_information_relevant") %></li>
      </ul>
      <h1><%= t("What_we_do_with") %></h1>
      <p><%= t("We_require_this_information") %></p>
      <ul>
        <li><%= t("Internal_record_keeping") %></li>
        <li><%= t("We_may_use_the") %></li>
        <li><%= t("We_may_periodically") %></li>
        <li><%= t("From_time_to_time") %></li>
      </ul>
      <h1><%= t("Security") %></h1>
      <p><%= t("We_are_committed_to") %></p>
      <h1><%= t("How_we_use") %></h1>
      <p><%= t("cookie_is_a_small") %></p>
    </div>

    <div class="half_of_static">
      <p><%= t("We_use_traffic_log") %></p>
      <h1><%= t("Links_to_other_websites") %></h1>
      <p><%= t("Our_website_may_contain") %></p>
      <h1><%= t("Controlling_your_personal") %></h1>
      <p><%= t("You_may_choose_to") %></p>
      <ul>
        <li><%= t("whenever_you_are") %></li>
        <li><%= t("if_you_have_previously") %></li>
      </ul>
      <p><%= t("We_will_not_sell") %></p>
      <p><%= t("If_you_believe_that") %></p>
      <h1><%= t("Contact_Us") %></h1>
      <p><%= t("MAROPEN_open") %></p>
    </div>
  </div>
</div>