<div class="margin_left" style=" margin: 0 auto;">
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHY TRACK YOUR SERVICE ACTIVITY AND WHY IT IS BENEFICIAL? </h1>
<p align="justify">Distodi is a service book for your car, bicycle, electronic devices or even your house. Just for everything you take care of and would like to keep value.<br>
  Distodi establishing trust between customers and service companies, and as the result between future buyers and sellers.

Not having a full-service history can wipe almost a quarter off the value of a used car, bicycle, computer, house or any other your property. For the honest owner, will be very easy to add value by legitimately tracking down a service history. With distodi You will be able to track your expenses spent on service for your car, bicycle, electronic devices your house. Let’s have a look how easy your can do it step by step:<br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Work with distodi is very easy:<br>

    &#10004; Register your car on distodi.com <br>

    &#10004;   When you decided to do service for your car make a record of it in 2 following ways:<br><br>


    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st way when you go to a Service company that will do service for your car:<br></strong>



  1.           Service company just done service for your car for some price of the service.<br>

  2.            Please just ask a Service company register in distodi.com in a few second.<br>

  3.            After that just give \ send to your Service company an automaticity generated web-link that connect to your service and asked them to confirm (by connecting this link) that they done service for our car and add the amount of the service (they will have always 24 hours to confirm).<br>

  4.            Service company add photo to a service as a prove.<br>

  5.            If you agree that all information is correct, please just press confirm button.<br>
  <%= link_to image_tag('1.png', alt: 'tutorial', class:"tutorial2") %><br>
  <%= link_to image_tag('2.png', alt: 'tutorial', class:"tutorial2") %><br>
  <%= link_to image_tag('3.png', alt: 'tutorial', class:"tutorial2" ) %><br>

  6.           Information of the service is added. Done.<br><br>



    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2nd way when you do for your car by yourself:<br></strong>



  1.       Please register in distodi.com in a few seconds.<br>

  2.       If you already registered so you can start use distodi.com<br>

  3.       You done the service of your car by yourself.<br>
  <%= link_to image_tag('4.png', alt: 'tutorial', class:"tutorial2" ) %><br>

  4.       Just mark the service that you done by yourself, add pictures how it changed and amount of money (you will 24 hours to make any changes).<br>
  <%= link_to image_tag('tutorial1.png', alt: 'tutorial', class:"tutorial") %><br><br>
  5.      Information of the service is added. Done.<br>

</p>

  <%= link_to "Home", root_path %>
</div>
