<div class="margin_left2" >
  <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Way when you do for your bicycle by yourself:<br></strong>



  1.       Please register in distodi.com in a few seconds.<br>
  <%= link_to image_tag('tutorcar1.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>
  2.       If you already registered so you can start use distodi.com<br>
  <%= link_to image_tag('tutorcar2.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>
  3.       You done the service of your bicycle by yourself.<br>
  <%= link_to image_tag('tutorcar3.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>

  <div style="max-width: 500px">4.       Just mark the service that you done by yourself, add pictures how it changed and amount of money (you will 24 hours to make any changes).</div><br>
  <%= link_to image_tag('tutorcar4.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>
  5.      Information of the service is added. Done.<br>

  </p>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manual for bicycle </h1>
  <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Way when you go to a Service company that will do service for your bicycle:<br></strong>



  1.           Service company just done service for your bicycle for some price of the service.<br>
  <%= link_to image_tag('tutorcar7.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>
  2.            Please just ask a Service company register in distodi.com in a few second.<br>

  <div style="max-width: 500px"> 3.            After that just give \ send to your Service company an automaticity generated web-link that connect to your service and asked them to confirm (by connecting this link) that they done service for our bicycle and add the amount of the service (they will have always 24 hours to confirm).</div><br>
  <%= link_to image_tag('tutorcar5.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>
  4.            Service company add photo to a service as a prove.<br>

  5.            If you agree that all information is correct, please just press confirm button.<br>
  <%= link_to image_tag('tutorcar6.jpg', alt: 'tutorial', class:"tutorial2") %><br><br>

  6.           Information of the service is added. Done.<br><br>



  <%= link_to "Home", home_path%>
</div>