<div class="service_create_main_form">
  <div class="left_form_service_create margin">
    <div class="form_service_create"
         ng-controller="AccountEditController as accountEditController"
         ng-click="clickedBlank()"
         ng-init='accountEditController.setProfile(<%= @user.to_json(only: %i( country_short city address postal_code ), methods: %i( country_short  )).html_safe %>)'
         >
      <div class="destroy_user">
        <h1>
          <%= t(".delete_my_account") %>
        </h1>
        <%= form_for @user, method: :delete do |f| %>
          <p>
            <%= t(".password") %>
          </p>
          <%= f.password_field :password, autocomplete: :off, placeholder: t(".password_placeholder")  %>
          <div class="delete_button">
            <%= f.submit value: t(".delete_link"), data: { confirm: t(".confirm_delete") } %>
          </div>
        <% end %>
      </div>
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="photo_field">
          <%= f.hidden_field :picture_cache %>
          <%= f.file_field :picture,
                         class: 'inputfile',
                         "data-file" => "true" %>
        </div>
        <div class="price">
          <p class="field_name">
            <%= f.label :email %>
          </p>
          <%= f.email_field :email  %>
        </div>

        <div class="half_form_field half first">
          <p class="field_name">
            <%= f.label :first_name %>
          </p>
          <%= f.text_field :first_name, autofocus: true, placeholder: t(".name_placeholder")  %>
        </div>

        <div class="half_form_field half">
          <p class="field_name">
            <%= f.label :last_name %>
          </p>
          <%= f.text_field :last_name, placeholder: t(".last_name_placeholder")  %>
        </div>

        <div class="half_form_field first">
          <p class="field_name">
            <%= f.label :postal_code %>
          </p>
          <%= f.text_field :postal_code, placeholder: t(".postal_placeholder"), :"ng-model" => "postalCode", :"ng-change" => "changedPostalCode()" %>
          <ul class="hint-list" ng-show="addresses.length > 0">
            <li ng-click="addressSelected()" ng-repeat="address in addresses">{{address.formatted_address}}</li>
          </ul>
        </div>

        <div class="half_form_field half first">
          <p class="field_name">
            <%= f.label :country %>
          </p>
          <%= f.country_select :country, {prompt: t(".select_country")}, :"ng-model" => "country", :"ng-value" => "{{country}}" %>
        </div>

        <div class="half_form_field half city">
          <p class="field_name">
            <%= f.label :city %>
          </p>
          <%= f.text_field :city, placeholder: t(".city_placeholder"), :"ng-value" => "city" %>
        </div>

        <div class="price">
          <p class="field_name">
            <%= f.label :address %>
          </p>
          <%= f.text_field :address, placeholder: t(".address_placeholder"), :"ng-model" => "formattedAddress"  %>
        </div>

        <div class="half_form_field margin first phone">
          <p class="field_name">
            <%= f.label :phone %>
          </p>
          <%= f.text_field :phone, placeholder: t(".phone_placeholder")  %>
        </div>

        <p class="field_name">
          <%= f.label 'Additional field' %>
        </p>
        <div class="textarea">
          <%= f.text_area :notice, placeholder: t(".notice_placeholder") %>
        </div>

        <div class="line"></div>

        <div class="change_password">
          <h1><%= t(".change_password") %></h1>
          <div class="half_form_field half first">
            <p class="field_name">
              <%= t(".original_password") %>
            </p>
            <%= f.password_field :password, autocomplete: :off, placeholder: t(".password_placeholder")  %>
          </div>

          <div class="half_form_field half">
            <p class="field_name">
              <%= t(".new_password") %>
            </p>
            <%= f.password_field :password_confirmation, autocomplete: :off, placeholder: t(".confirmation_placeholder")  %>
          </div>
        </div>
        <div class="line"></div>

        <div class="notification_confirmation">
          <h1><%= t(".notifications") %></h1>
          <div class="select">
            <label>
              <input type="checkbox" checked/>
              <i>
                <%= image_tag "select.png" %>
              </i>
              <span>
                <%= t(".receive_notifications") %>
              </span>
            </label>
          </div>
        </div>

        <div class="line"></div>
        <div class="user_destroy_place"></div>
        <div class="line"></div>
         <div class="form-actions user">
          <%= f.submit t(".confirm") %>
          <%= link_to t(".discard"), dashboard_path %>
        </div>
      </div>
    </div>

    <div class="right_form_service_create">
      <p class="field_name">
        <%= t(".picture") %>
      </p>
       <div class="image {{ newPhoto ? '' : 'without_photo_input' }}">
        <div class="blank_image">+</div>
        <%= image_tag(@user.picture_url,
                      class: "current_photo",
                      "ng-src" => "{{imagePreview}}") %>
      </div>
    <% end %>
    <div class="service_form_info">
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
    </div>
  </div>
</div>
