<p id="notice"><%= notice %></p>

<h1>My Items</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @user.items.each do |item| %>
      <tr>
        <td><%= image_tag(item.picture_url, alt: item.title, width: 100) %></td>
        <td><%= item.title %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Create Item', new_item_path %></p>
<p><%= link_to 'Back to my panel', user_path(@user) %></p>
