<div class="margin_left">
<p id="notice"><%= notice %></p>

<h1>Services:</h1>

<% @all_services.each do |service| %>
    <div style="width: 290px; height: 270px; float: left;">
      <strong><br><%= service.created_at %></strong>
    <div class="thumbnail_grid">
      <%= service_picture_show(service) %>
    </div>
    </div>

      <strong><br><% service.action_kinds.each do |action_kind| %>
          <%= "#{action_kind.title}" %>
      <% end %>
      <br></strong>
    <% service.service_fields.each do |service_field| %>
            <%= service_field.service_kind.title %><br>
         <%= service_field.text %>
    <% end %>
     <br><br><br>

    <strong style="margin-left: 40%"><%= number_to_currency(service.price , unit: "€") %></strong>

<% end %>
  <br>
  <%= link_to 'Back', @user,  class: "buttonsuser" %>
</div>

