<div class="margin_left">
<p id="notice"><%= notice %></p>

<h1>Services:</h1>



<h1>pending </h1>


<h1>approved </h1>

<% @pending_services.each do |service| %>
      <div class="servicelist">
      <div style="width: 290px; height: 270px; float: left; margin-bottom: 20px">
      <strong><br><%= service.created_at %></strong>
    <div class="thumbnail_grid">
      <%= service_picture_show(service) %>
    </div>
    </div>

      <strong><br><% service.action_kinds.each do |action_kind| %>
          <%= "#{action_kind.title}" %>
      <% end %>
      <br></strong>
    <% service.service_fields.each do |service_field| %>
            <%= service_field.service_kind.title %><br>
         <%= service_field.text %>
    <% end %>

      <%= link_to "See to related item", service.item, class: "buttonsuser",id: "buttonsuserwidth" %>
    <strong style="margin-left: 40%"><%= number_to_currency(service.price , unit: "€") %></strong>
    <p style="color: green;">Service is approved</p>
      </div>
<% end %>

<h1>declined </h1>

<% @services_for_approval.each do |service| %>

      <div class="servicelist">
      <div style="width: 290px; height: 270px; float: left; margin-bottom: 20px">
      <strong><br><%= service.created_at %></strong>
    <div class="thumbnail_grid">
      <%= service_picture_show(service) %>
    </div>
    </div>

      <strong><br><% service.action_kinds.each do |action_kind| %>
          <%= "#{action_kind.title}" %>
      <% end %>
      <br></strong>
    <% service.service_fields.each do |service_field| %>
            <%= service_field.service_kind.title %><br>
         <%= service_field.text %>
    <% end %>

      <%= link_to "See to related item", service.item, class: "buttonsuser",id: "buttonsuserwidth" %>
    <strong style="margin-left: 40%"><%= number_to_currency(service.price , unit: "€") %></strong>
    <p style="color: red;">Service is declined</p>
      </div>
<% end %>

  <div style="width: 100%">
  <%= link_to 'Back', @user,  class: "buttonsuser" %></div>
</div>
