<p id="notice"><%= notice %></p>
<div class="thumbnail">
  <%= picture_show(@user) %>
</div>
<div class="userinformation">
<p>
<span>
  <strong>
    <%= @user.first_name %>
  </strong>
</span>
<span>
  <strong>
    <%= @user.last_name %>
  </strong>
</span>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <span><%= link_to 'Show my Items', items_user_path(@user),class: "buttonsuser" %></span>
  <span><%= link_to 'Create Item', new_item_path, class: "buttonsuser"%></span>
  <span><%= link_to 'Edit my profile', edit_user_path(@user), class: "buttonsuser"%></span>
</p>
</div>

<div>
  <% @last_services.each do |service| %>
      <% service.action_kinds.each do |action_kind| %>
          <%= "#{action_kind.title}" %>
      <% end %>
   <%= service.created_at.strftime("%F") %>
   <%= service_picture_show(service) %>
  <% end %>
</div>

<div>

  <% @last_companies.each do |company| %>
      <%= company.name %>
      <%= picture_show(company) %>
  <% end %>
</div>