<div class="margin_left">
  <p id="notice"><%= notice %></p>
<div class="thumbnail" >
  <%= picture_show(@user) %>
</div>
<div  >
  <p id="information_margin " class="first_name">
<span>
  <strong>
    <%= @user.first_name %>
  </strong>
</span>
    <span>
  <strong>
    <%= @user.last_name %>
  </strong>
</span>
  </p>
  <p id="information_margin">
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p id="information_margin">
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
  <p id="information_margin">
    <strong>Country:</strong>
    <%= @user.country %>
  </p>

  <p id="information_margin">
    <strong>City:</strong>
    <%= @user.city %>
  </p>

  <p id="information_margin">
    <strong>Street:</strong>
    <%= @user.street %>
  </p>

  <p id="information_margin">
    <strong>Postal code:</strong>
    <%= @user.postal_code %>
  </p>

  <p>
    <span><%= link_to 'Show my Items', items_user_path(@user), class: "buttonsuser",id: "buttonsuserwidth" %></span>
  <span ><%= link_to 'Create Item', new_item_path, class: "buttonsuser" ,id: "buttonsuserwidth" %></span>
    <span><%= link_to 'Edit my profile', edit_user_path(@user), class: "buttonsuser" ,id: "buttonsuserwidth"%></span>
  </p>
</div>

<h1><br>Last services</h1>
<div>
  <% @last_services.each do |service| %>
    <div class="show_tile">
      <div class="thumbnail_grid" style="height: 90px; width: 90px;" >
        <%= service_picture_show(service) %>
      </div>
      <span><% service.action_kinds.each do |action_kind| %></span>
          <%= "#{action_kind.title}" %>
      <% end %>
      <span><br><%= service.created_at.strftime("%F") %></span>
</div>
  <% end %>
  <br> <br> <br>
  <span><%= link_to 'Show all services', services_user_path(@user), class: "buttonsuser",id: "buttonsuserwidth" %><br></span>
</div>



<h1>Companies that did services</h1>
<div>

  <% @last_companies.each do |company| %>
      <div class="show_tile">
      <div class="thumbnail_grid" style="height: 90px; width: 90px;">
        <%= picture_show(company) %>
      </div>
      <%= company.name %>

</div>
  <% end %>
  <br> <br><br>
  <span ><%= link_to 'Show all companies', companies_user_path(@user), class: "buttonsuser" ,id: "buttonsuserwidth"%></span>
</div>
</div>