

<p id="notice"><%= notice %></p>
<img class="imageuser"/>
<span>
  <strong>
  <%= @user.first_name %>
  </strong>
</span>

<span>
  <strong>
  <%= @user.last_name %></strong>
</span>
<br>
<span>
  <strong>Phone:</strong>
  <%= @user.phone %>
</span>
<br>
<spanp><%= link_to 'Show my Items', items_user_path(@user) %></spanp>
<spanp><%= link_to 'Create Item', new_item_path %></spanp>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
