                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <p class="alert"><%= alert %></p>
                    <div class="mail">
                      <div class="ico">
                        <%= image_tag "mail_ico.png" %>
                      </div>
                      <%= f.email_field :email, autofocus: true, placeholder: "E-mail Address" %>
                    </div>

                    <div class="password">
                      <div class="ico">
                        <%= image_tag "pass_ico.png" %>
                      </div>
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    </div>
                    <div class="signup_info_right">
                      <%= link_to "Forgot password?", new_password_path(resource_name) %>
                    </div>
                    <div class="signup_but">
                      <%= f.submit "Sign in" %>
                    </div>
                  <% end %>
