<div ng-init="notifyController.unreadNotificationsCount = <%= @notifications.count %>;" ng-controller="NotificationsController as notifyController" class="notify-panel">
  <a href="#" ng-click="notifyController.showNotificationsWindow()" class="notify-link">
    <div class="notify-count <%= @notifications.count == 0 ? 'notify-count_hidden' : '' %>">{{notifyController.unreadNotificationsCount}}</div>
  </a>
  <%#
    <!-- TODO: убрать img тэг, картинку навесить стилями на a -->
    <!-- <a href="#"><%= image_tag "search.png" %-></a> -->
  %>
  <div class="alarm-notifications popup-animation mobile" ng-class="notifyController.showNotificationWindow ? 'active' : ''">
    <div class="notifications-header">
      <div class="mobile_logo"><%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %></div>
      <div class="exit_mobile" ng-click="notifyController.showNotificationsWindow()">
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <h3 class="header-title"> <%= t(".header_title") %> </h3>
      <p><span class="unread"><%= t(".unread") %></span><%= link_to t(".mark_as_read"), static_pages_about_path %></p>
    </div>
      <ul class="notifications-list">
         <% if @notifications.count == 0 %>
           <p class="notify-description"> <%= t(".no_notifications") %> </p>
         <% else %>
           <% @notifications.each do |notification| %>
              <li class="list-item">
                <div class="status_notification"></div>
                <a href="#" ng-click='notifyController.getNotifications(<%= notification.id %>, $event)'>
                  <%= notification.message %></a>
              </li>
           <% end %>
         <% end %>
      </ul>
  </div>
</div>
