<div class="notify-panel"
     ng-init="notifyController.unreadNotificationsCount = <%= @notifications.count %>;"
     ng-controller="NotificationsController as notifyController"
     >
  <a href="#" ng-click="notifyController.showNotificationsWindow($event)" class="notify-link">
    <div class="notify-count <%= @notifications.count == 0 ? 'notify-count_hidden' : '' %>">{{notifyController.unreadNotificationsCount}}</div>
  </a>
  <%#
    <!-- TODO: убрать img тэг, картинку навесить стилями на a -->
    <!-- <a href="#"><%= image_tag "search.png" %-></a> -->
  %>
  <div class="alarm-notifications popup-animation mobile" ng-class="$root.activePopup === 'notifications' ? 'active' : ''">
    <div class="notifications-header">
      <div class="mobile_logo"><%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %></div>
      <div class="exit_mobile" ng-click="notifyController.showNotificationsWindow($event)">
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <h3 class="header-title"> <%= t(".header_title") %> </h3>
      <p>
        <span class="unread"><%= t(".unread") %></span>
        <%= link_to t(".mark_as_read"), "#" %>
      </p>
    </div>
      <ul class="notifications-list">
         <% if @notifications.count == 0 %>
           <p class="notify-description"> <%= t(".no_notifications") %> </p>
         <% else %>
           <% @notifications.each do |notification| %>
              <li class="list-item">
                <div class="status_notification"></div>
                <a href="#" ng-click='notifyController.getNotifications(<%= notification.id %>, "<%= I18n.locale %>", $event)'>
                  <%= notification.message %>
                </a>
              </li>
           <% end %>
         <% end %>
      </ul>
  </div>
</div>
