              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>
              <div class="mail">
                <div class="errors_reg pass">
                  <%= resource.errors.full_messages_for(:password).join(',') %>
                </div>
                <div class="ico">
                  <%= image_tag "pass_ico.png" %>
                </div>
                <%= f.password_field :password, autofocus: true, autocomplete: "off",placeholder: t(".new_pass") %>
              </div>
              <div class="mail">
                <div class="ico">
                  <%= image_tag "pass_ico.png" %>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: t(".confirm") %>
              </div>
              <div class="signup_but">
                <%= f.submit t(".change") %>
              </div>
              <% end %>
