                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <div class="errors_reg">
                      <%= devise_error_messages! %>
                    </div>
                    <div class="name">
                      <div class="ico">
                        <%= image_tag "user_ico.png" %>
                      </div>
                      <%= f.text_field :first_name ,placeholder: "Your Full Name (as in passport)"%>
                    </div>
                    <div class="mail">
                      <div class="ico">
                        <%= image_tag "mail_ico.png" %>
                      </div>
                      <%= f.email_field :email, autofocus: true,placeholder: "E-mail Address" %>
                    </div>
                    <div class="password">
                      <div class="ico">
                        <%= image_tag "pass_ico.png" %>
                      </div>
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password (min 8 characters)" %>
                    </div>
                    <div class="signup_but">
                      <%= f.submit "Create Free Service Book" %>
                    </div>
                  <% end %>
