<div class="lead_background">
  <div class="logo_lead">
    <%= image_tag "logo_mobile" %><span>Distodi</span><p>α</p>
  </div>
  <div class="form_lead">
    <h1>Distodi.</h1>
    <h1><%= t(".service_book") %></h1>
  </div>
  <div class="form_lead right">
    <div class="form">
      <h2><%= t(".get_access") %></h2>
      <p><%= t(".send_us") %></p>
      <%= render 'form' %>
    </div>
  </div>
</div>

