<div class="margin_left">

<p id="notice"><%= notice %></p>
<div class="thumbnail">
  <%= picture_show(@company) %>
</div>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @company.postal_code %>
</p>

<%= link_to t(".edit_link"), edit_company_path(@company) %>

<span><%= link_to t(".delete_link"), company_path(@company), method: :delete,:data => {:confirm => t(".confirm_delete")}, class: "buttonsuser" %></span>

<h2>Assigned Services:</h2>
<%= render "services/list", list: @company.assigned_services, current_user: current_company %>

<h2>Performed Services:</h2>
<%= render "services/list", list: @company.services, current_user: current_company %>
