<div class="form_donation" >
  <%= simple_form_for(@checkout) do |f| %>
    <%= f.error_notification %>
    <%= f.simple_fields_for :base do |base| %>
      <%= t @checkout.errors.messages[:base] %>
    <% end if @checkout.errors[:base].any? %>

    <div class="form-inputs user_attributes">
      <h3>Billing address</h3>
        <%= f.input :name %>
        <%= f.input :address1 %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :country %>
        <%= f.input :zip %>
        <%= f.input :phone %>
    </div>

    <div class="form-inputs ">
      <h3>Credit card</h3>
        <%= f.input :number %>
        <%= f.input :month %>
        <%= f.input :year %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :verification_value, input_html: { type: :password } %>
    </div>

    <div class="values">
      <p>
        <%= f.radio_button :charge_amount, @checkout.charge(5) %>
        <%= f.label :"charge_amount_#{@checkout.charge(5)}", @checkout.charge_label(5) %>
      </p>
      <p>
        <%= f.radio_button :charge_amount, @checkout.charge(10) %>
        <%= f.label :"charge_amount_#{@checkout.charge(10)}", @checkout.charge_label(10) %>
      </p>
      <p>
        <%= f.radio_button :charge_amount, @checkout.charge(25), checked: true %>
        <%= f.label :"charge_amount_#{@checkout.charge(25)}", @checkout.charge_label(25) %>
      </p>
      <p>
        <%= f.radio_button :charge_amount, @checkout.charge(50) %>
        <%= f.label :"charge_amount_#{@checkout.charge(50)}", @checkout.charge_label(50) %>
      </p>
      <%= f.input :charge_custom_amount, label: t(".your_value"), input_html: { value: @checkout.charge_amount } %>
    </div>

    <div class="form-action">
      <%= f.button :submit %>
      <%= link_to 'Back', root_path %>
    </div>
  <% end %>
</div>
