<div class="form">
<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, t(".error")) %> <%= t(".prohabited") %> </h2>

          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field_title">
      <%= f.label :title %> <span>*</span>
      <%= f.text_field :title %>
    </div>

    <div class="categories">
      <p><%= f.label t(".category") %> <span>*</span></p>
      <%= f.collection_select :category_id,
                              Category.all,
                              :id, :name,
                              { prompt: t(".select") },
                              { class: "category_select",
                                "ng-model" => "_category",
                                "ng-change" => "controller.categorySelectChanged()",
                                disabled: controller.action_name.in?(%w( edit update ))
                              } %>
    </div>

    <div class="custom_attributes">
    </div>

    <div class="field">
      <p><%= t(".cover_photo") %></p>
      <% if @item.picture.present? %>
        <%= image_tag(@item.picture_url, alt: @item.title, width: 250) %>
        <%= f.file_field :picture%>
      <% else %>
        <div class="without_photo_input">
          <%= f.file_field :picture, class: 'inputfile'%>
          <label for="upload"><span><%= t(".add_photo") %></span></label>
        </div>
      <% end %>
    </div>

    <div class="actions_but">
      <%= f.submit t(".save"), "ng-disabled" => "controller.saveSubmitDisabled" %>
      <div class="back">
      <%= link_to t(".discard"), user_path(current_user) %>
      </div>
    </div>

<% end %>
</div>

<script>
  $(function () {
    $("form.edit_item, form.new_item").on("change", "#item_category_id, select.brand_options", function(){
      if ($('#item_category_id option:selected').val()) {
        $.ajax({
          url: "/items/get_attributes",
          type: "GET",
          dataType: "script",
          data: {
            category_id: $('#item_category_id option:selected').val(),
            brand_option_id: $("select.brand_options").val(),
            item_id: <%= @item.to_param || "undefined" %>
          }
        });
      }
      // $(".custom_attributes").on("change", ".attribute_select:last", function(){
      //   $(".attribute_select:last").clone().appendTo(".custom_attributes");
      // });
    });
    $("#item_category_id").val(<%= @item.category_id %>).trigger("change");
  });
</script>
