<div class="form">
<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field_title">
      <p><%= f.label :title %> <span>*</span></p>
      <%= f.text_field :title %>
    </div>

    <div class="categories">
      <p><%= f.label 'Category' %> <span>*</span></p>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Please select a category"}, {class: "category_select"} %>
    </div>

    <div class="field">
      <%= f.label 'Picture' %><br>
      <%= f.hidden_field :picture_cache %>
      <%= f.file_field :picture%>
    </div>

    <div class="custom_attributes">

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
</div>

<script>
  $("#item_category_id").on("change", function(){
    if ($('#item_category_id option:selected').val()) {
      $.ajax({
        url: "/items/get_attributes",
        type: "GET",
        dataType: "script",
        data: {
          category_id: $('#item_category_id option:selected').val(),
          item_id: <%= @item.to_param || "undefined" %>
        }
      });
    }
    $(".custom_attributes").on("change", ".attribute_select:last", function(){
      $(".attribute_select:last").clone().appendTo(".custom_attributes");
    });
  });
  $("#item_category_id").change();
</script>
