<div class="form">
<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, t(".error")) %> <%= t(".prohabited") %> </h2>

          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field_title">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="categories">
      <p><%= f.label t(".category") %></p>
      <%= f.collection_select :category_id,
                              Category.all,
                              :id, :name,
                              {},
                              { class: "category_select",
                                "ng-model" => "_category",
                                "ng-change" => "controller.categorySelectChanged()",
                                disabled: controller.action_name.in?(%w( edit update ))
                              } %>
    </div>

    <div class="custom_attributes">
    </div>

    <div class="field">
      <p><%= t(".cover_photo") %></p>
      <div class="image {{ newPhoto ? '' : 'without_photo_input' }}">
        <%= image_tag(@item.picture_url,
                      alt: @item.title,
                      width: 250,
                      class: "current_photo",
                      "ng-src" => "{{imagePreview}}") %>
        <label for="upload" ng-show="!newPhoto"><%= t(".add_photo") %></label>
        <%= f.file_field :picture,
                         class: 'inputfile',
                         "data-file" => "true" %>
      </div>
    </div>

    <div class="actions_but">
      <%= f.submit t(".save") %>
      <div class="back">
      <%= link_to t(".discard"), dashboard_path %>
      </div>
    </div>

<% end %>
</div>

<script>
  $(function () {
    $("form.edit_item, form.new_item").on("change", "#item_category_id, select.brand_options", function(){
      if ($('#item_category_id option:selected').val()) {
        $.ajax({
          url: "/items/get_attributes",
          type: "GET",
          dataType: "script",
          data: {
            category_id: $('#item_category_id option:selected').val(),
            brand_option_id: $("select.brand_options").val(),
            item_id: <%= @item.to_param || "undefined" %>
          }
        });
      }
    });
    var $categorySelect = $("#item_category_id");
    if ($('#item_category_id option:selected').val() === "")
      $categorySelect.val(<%= @item.category_id %>);
    $categorySelect.trigger("change");
  });
  $("#item_category_id").change();
</script>
