<ul ng-show="controller.showDetails === <%= i %>">
  <li>id: <%= service.id %></li>
  <li>created_at: <%= service.created_at %></li>
  <li>updated_at: <%= service.updated_at %></li>
  <li>item_id: <%= service.item_id %></li>
  <li>next_control: <%= service.next_control %></li>
  <li>picture: <%= image_tag service.picture.mini.url %></li>
  <li>picture: <%= image_tag service.picture2.mini.url %></li>
  <li>picture: <%= image_tag service.picture3.mini.url %></li>
  <li>picture: <%= image_tag service.picture4.mini.url %></li>
  <li>price: <%= service.price %></li>
  <li>company_id: <%= service.company_id %></li>
  <li>company: <%= service.company.try(:name) %></li>
  <li>confirmed: <%= service.confirmed %></li>
  <li>status: <%= service.status %></li>
  <li>approver_id: <%= service.approver_id %></li>
  <li>approver_type: <%= service.approver_type %></li>
  <li>approver: <%= service.approver.try(:name) %></li>
  <li>reason: <%= service.reason %></li>
  <li>id_code: <%= service.id_code %></li>
  <% if service.map_address.present? %>
    <li>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCRPDPmM0Rwqy-yMxwKUFkw9pSRyKucfug
          &q=<%= service.map_address %>" allowfullscreen>
      </iframe>
    </li>
  <% end %>
</ul>
