  <%= render @items.present? ? "items" : "empty_items" %>

  <div ng-init='controller.checkboxes.length = <%= @services.size %>;
                controller.permissions = <%= @services.map { |s| s.permissions(current_user) }.to_json.html_safe %>;
                controller.ids = <%= @services.map(&:id) %>;
                '>
    <% if @item.present? %>
      <div class="item_info">
        <span><%= @item.title %>, </span>
          <% @item.characteristics.each do |characteristic| %>
            <span> <%= characteristic.value %></span>
          <% end %>
      </div>
    <% else %>
      <div class="item_info">
        <span><%= t(".all_services") %></span>
      </div>
    <% end %>
    <%= link_to new_service_path(item_id: @item), "ng-show" => "!controller.serviceActions.show" do %>
      <div class="add_service">
        <%= t(".add_new_service") %>
      </div>
    <% end if @item.present? %>
    <div class="service_panel" ng-show="controller.serviceActions.show">
      <a href="" class="view"
         ng-class="controller.serviceActions.view ? '' : 'disabled'"
         ng-click="controller.clickedView()">
        <%= t(".view") %>
      </a>
      <a href="" class="delete"
         ng-class="controller.serviceActions.delete ? '' : 'disabled'"
         ng-click="controller.clickedDelete()">
        <%= t(".del") %>
      </a>
      <!-- <a href="#"><%= image_tag "send.png" %> Send</a> -->
    </div>
    <table class="list_items">
      <thead>
        <th>
          <div class="select">
            <label>
              <input type="checkbox" ng-change="controller.clickedAllCheckbox()"
                                     ng-model="controller.checkboxes.all" />
              <i ng-class="!controller.checkboxes.areAllChecked() && controller.checkboxes.isAnyChecked() ? 'partial' : ''">
                <%= image_tag "select.png" %>
              </i>
            </label>
          </div>
        </th>
        <th><%= t(".service") %></th>
        <th><%= t(".type") %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".item") %></th>
        <th><%= t(".id") %></th>
        <th><%= t(".date") %></th>
        <th><%= t(".cost") %></th>
        <th></th>
      </thead>
      <tbody>
        <% @services.each.with_index do |service, i| %>
        <tr ng-class="[
                        (controller.showDetails === <%= i %> ? 'viewing' : ''),
                        (controller.checkboxes[<%= i %>] ? 'selected' : '')
                      ].join(' ')">
          <td>
            <div class="select">
              <label>
                <input type="checkbox" ng-model="controller.checkboxes[<%= i %>]"
                                       ng-change="controller.changedCheckbox(<%= i %>)" />
                <i>
                  <%= image_tag "select.png" %>
                </i>
              </label>
            </div>
          </td>
          <td>
            <% service.service_fields.each do |service_field| %>
              <%= service_field.service_kind.title %>
              <%= service_field.text %>
            <% end %>
          </td>
          <td>
            <% service.action_kinds.decorate.each do |action_kind| %>
              <div class="icon_service <%= action_kind.icon_class %>">
                <%= "#{action_kind.title}" %>
              </div>
            <% end %>
          </td>
          <td>
            <div class="<%= service.status %>">&nbsp;</div>
          </td>
          <td><%= service.item.try :title %></td>
          <td><%= service.id_code %></td>
          <td><%= service.created_at.strftime("%d %b %Y")%></td>
          <td>
            <%= number_to_currency(service.price , unit: "EUR ") %>
          </td>
          <td class="actions">
            <%= link_to "&nbsp;".html_safe, "", "ng-click" => "controller.clickedView(#{i})" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="list_items_mobile">
      <% @services.each_with_index do |service, i| %>
      <div class="service_mobile">
        <div class="select">
          <label>
            <input type="checkbox" ng-model="controller.checkboxes[<%= i %>]"
                                   ng-change="controller.changedCheckbox(<%= i %>)" />
            <i>
              <%= image_tag "select.png" %>
            </i>
          </label>
        </div>
        <p class="type"><% service.service_fields.each do |service_field| %>
          <%= service_field.service_kind.title %>
          <%= service_field.text %>
          <% end %>
        </p>
        <% service.action_kinds.decorate.each do |action_kind| %>
              <div class="icon_service <%= action_kind.icon_class %>">
                <%= "#{action_kind.title}" %>
              </div>
        <% end %>
        <p><%= service.item.try :title %></p>
        <p><span><%= service.created_at.strftime("%d %b %Y")%></span>
        <span> <%= number_to_currency(service.price , unit: "EUR ") %></span></p>
      </div>
      <% end %>
    </div>
    <% if @item.present? && @services.blank? %>
      <div class="first_service">
        <p><%= t(".service_log") %> <%= link_to t(".add_first_service"),new_service_path(item_id: @item), "ng-show" => "!controller.serviceActions.show" %> <%= t(".fill_book") %></p>
      </div>
    <% end %>
    <div class="pdf_button">
      <input type="button" value="Save report as PDF" onclick="print()"></input>
    </div>
    <div class="xls_button">
      <%= link_to t(".csv_link"), services_path(format: :csv) %>
    </div>
  </div>

  <!-- Angular-tour -->
  <tour step="currentStep" post-step="postStepCallback()">
    <virtual-step
      tourtip="Welcome to Distodi! We created simple user tour for you :-)"
      tourtip-step="0"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".item_logo img">
    </virtual-step>
    <virtual-step
      tourtip="Start! Add new service here"
      tourtip-step="1"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".add_service">
    </virtual-step>
    <virtual-step
      tourtip="Add here your item (your property information)"
      tourtip-step="2"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".owl-item:last-child">
    </virtual-step>
    <virtual-step
      tourtip="Find here all your items"
      tourtip-step="3"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".all_items">
    </virtual-step>
    <virtual-step
      tourtip="After you make service you can see changes up here"
      tourtip-step="4"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".first_service">
    </virtual-step>
    <virtual-step
      tourtip="Note: each your item has unique ID"
      tourtip-step="5"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".list_items th:nth-child(6)">
    </virtual-step>
    <virtual-step
      tourtip="Money: totally amount your spent on each service"
      tourtip-step="6"
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".list_items th:nth-child(8)">
    </virtual-step>
    <virtual-step
      tourtip="Reporting: you can save & print information"
      tourtip-step="7"
      tourtip-next-label="Close"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".xls_button a">
    </virtual-step>
  </tour>
