  <%= render "empty_items" %>
  <div class="first_content">
    <div class="circle">
      <%= link_to new_item_path do %>
        <p class="plus">+</p>
      <% end %>
    </div>
    <p><%= t(".hey") %><%= current_user.first_name %>,</p>
    <%= link_to t(".add"), new_item_path %>
    <p><%= t(".track") %></p>
  </div>
