$('.custom_attributes').empty();
<% @attributes.each do |attribute| %>
<% characteristic = @item.characteristics.find { |c| c.attribute_kind == attribute } if @item.present? %>
$('.custom_attributes').append($('\
	<div class="atribut"><p><label for="characteristics<%= attribute.id %>"><%= attribute.title %></label></p>\
	<input type="text" name="item[characteristics[<%= attribute.id %>]]" id="characteristic<%= attribute.id %>" value="<%= characteristic.try(:value) %>"></div>\
	'));
<% end %>