<div class="page_items">
  <p><%= t('.my_items') %></p>
  <% @items.each.with_index do |item, i| %>
    <div class="item">
      <%= link_to  edit_item_path(item) do %>
        <div class="photo_item_index">
          <%= image_tag(item.picture.list.url, alt: item.title) %>
        </div>
      <% end %>
      <p><%= item.title %></p>
      <p><%= item.id_code %></p>
    </div>
  <% end %>
  <div class="item">
  	<%= link_to new_item_path do %>
  	  <div class="add_new_item">
        <p><%= t('.add_new_item') %></p>
      </div>
    <% end %>
  </div>
</div>
