<div class="page_items">
  <p><%= t('.my_items') %></p>
  <% @items.each.with_index do |item, i| %>
    <div class="item">
      <%= link_to item do %>
        <%= image_tag(item.picture_url, alt: item.title) %>
      <% end %>
      <p><%= item.title %></p>
      <p><%= item.id_code %></p>
      <div class="item_list_panel">
        <%= link_to edit_item_path(item) do %>
          <%= image_tag "eye.png" %>
          <span><%= t('.view_edit') %></span>
        <% end %>
        <div class="transfer_button" ng-click="controller.clickedToggleTransfer(<%= i %>)">
          <%= image_tag "send.png" %>
          <%= t('.send_item') %>
        </div>
        <div class="transfer_form_list" ng-class="controller.showTransfer[<%= i %>] ? 'active' : '' ">
        <%= render "transfer_form", item: item %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="item">
  	<%= link_to new_item_path do %>
  	  <div class="add_new_item">
        <p><%= t('.add_new_item') %></p>
      </div>
    <% end %>
  </div>
</div>
