<div class="item_info">
  <span><%= @item.title %>, </span>
    <% @item.characteristics.each do |characteristic| %>
      <span> <%= characteristic.value %></span>
    <% end %>
</div>
<%= link_to new_service_path(item_id: @item) do %>
  <div class="add_service">
    + ADD NEW SERVICE
  </div>
<% end %>
<%= render partial: "services/list_items", locals: { list: @item.services } %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div>


  <div class="margin_left" style="padding-top: 40px; max-width: 350px;">
    <h3>ID code: <%= @item.id_code %></h3>
    <span><%= link_to 'Edit item', edit_item_path(@item), class: "buttonsuser" %><br/></span>
    <span><%= link_to t(".delete_link"), item_path(@item),
                      method: :delete,
                      data: { confirm: t(".confirm_delete") },
                      class: "buttonsuser" %></span>
    <span>
      <%= render "transfer_form", item: @item %>
    </span>
    <strong>Link for companies: </strong>
    <%= link_to show_for_company_url(token: @item.token), show_for_company_url(token: @item.token) %><br/>

    <span style="font-style:italic; ">Send to your Service company an automaticity generated web-link that connect to your service and asked them to confirm</span>
  </div>

</div>
<br/>

<div class="margin_left">
  <h2>Services:</h2>
  <%= render partial: "services/list", locals: { list: @item.services } %>

  <p>
    <br/>
    <span>
      <%= link_to 'Back to my panel', user_path(@item.user), class: "buttonsuser" %>
    </span>
  </p>
</div>
