<div class="iteminfo">
<%= image_tag(@item.picture_url, alt: @item.title, width: 400) %></div>
<div>


  <tbody>
  <h2 id="iteminformation"><%= @item.title %></h2>
  <% @item.characteristics.each do |characteristic| %>

      <ul id="iteminformation">

        <strong><%= characteristic.attribute_kind.title %>:</strong>
        <%= characteristic.value %>
      </ul>
  <% end %>
  </tbody>

</div>
<br>

<h2>Services:</h2>
<% @item.services.each do |service| %>

    <div class="thumbnail_grid">
      <%= service_picture_show(service) %>
    </div>

    <% service.action_kinds.each do |action_kind| %>
        <%= "#{action_kind.title}" %>
    <% end %>

    <% service.service_fields.each do |service_field| %>
        <%= service_field.service_kind.title %>
        <%= service_field.text %>
    <% end %>
    <span><br><%= service.created_at %></span>
    <span><br><%= number_to_currency(service.price , unit: "€") %></span>
<% end %>

</div>
<p >
<spanp id="iteminformation"><%= link_to 'Add Service', new_service_path(item_id: @item), class: "buttonsuser"%></spanp>

<spanp id="iteminformation"><%= link_to 'Back to my panel', user_path(@item.user), class: "buttonsuser"%></spanp>
</p>