<div class="iteminfo">
<%= image_tag(@item.picture_url, alt: @item.title, width: 400) %></div>
<div>


  <tbody>
  <h2 id="iteminformation"><%= @item.title %></h2>
  <% @item.characteristics.each do |characteristic| %>

      <ul id="iteminformation">

        <strong><%= characteristic.attribute_kind.title %>:</strong>
        <%= characteristic.value %>
      </ul>
  <% end %>
  </tbody>

</div>
<br>

<h2>Services:</h2>
<table>
  <thead>
  <tr>
    <th>Count of changes</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @item.services.each do |service| %>
      <tr>
        <td><%= service.service_fields.count %></td>
        <td><%= service.created_at %></td>
        <td><%= link_to 'Show', service_path(service)%></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<p >
<spanp id="iteminformation"><%= link_to 'Add Service', new_service_path(item_id: @item), class: "buttonsuser"%></spanp>

<spanp id="iteminformation"><%= link_to 'Back to my panel', user_path(@item.user), class: "buttonsuser"%></spanp>
</p>