<h1><%= @item.title %></h1>
<%= image_tag(@item.picture_url, alt: @item.title, width: 200) %>
<table>
  <thead>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  </thead>

  <tbody>
  <% @item.characteristics.each do |characteristic| %>
      <tr>
        <td><%= characteristic.attribute_kind.title %></td>
        <td><%= characteristic.value %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Services:</h2>
<table>
  <thead>
  <tr>
    <th>Count of changes</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @item.services.each do |service| %>
      <tr>
        <td><%= service.service_fields.count %></td>
        <td><%= service.created_at %></td>
        <td><%= link_to 'Show', service_path(service)%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Add Service', new_service_path(item_id: @item) %></p>

<p><%= link_to 'Back to my panel', user_path(@item.user) %></p>
