<!DOCTYPE html>
<html lang="en">
  <head>
    <title>distodi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'new', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body ng-app="DistodiApp" ng-controller="ItemsController as controller" ng-strict-di>
    <div class="item_header">
      <div class="item_logo">
        <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), home_path %>
      </div>
      <div class="right_panel">
        <div class="more_menu">
          <a href="#"><%= image_tag "more_menu.png" %></a>
        </div>
        <span>
          <%= my_panel %>
        </span>
        <!--
        TODO: убрать img тэг, картинку навесить стилями на a
        <a href="#"><%= image_tag "ring.png" %></a>
        TODO: убрать img тэг, картинку навесить стилями на a
        <a href="#"><%= image_tag "search.png" %></a>
         -->
      </div>
      <div class="btn_menu black">
        <div class="btn_line"></div>
        <div class="btn_line"></div>
        <div class="btn_line"></div>
      </div>
      <div class="menu_mobile">
        <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), home_path %>
        <ul>
          <li><%= link_to('UPDATES', '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to('QUESTIONS AND ANSWERS', '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to('ENGLISH', '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to('SIGN IN', new_user_session_path) if current_user.nil? && current_company.nil? %></li>
        </ul>
        <div class="button">
          Create Free Service Book
        </div>
        <div class="telephone_contact">
          8 (800) 400-40-40
        </div>
      </div>
      <%= render @items.present? ? "items" : "empty_items" %>
    </div>
    <%= yield %>
  </body>
</html>
