<!DOCTYPE html>
<html lang="en">
  <head>
    <title>distodi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'new', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body class="main_page" ng-app="DistodiApp" ng-controller="SignInController as controller" ng-strict-di>
    <div class="header main_page">
      <div class="logo">
        <%= link_to image_tag('logo.png', alt: 'distodi.logo'), root_path %>
      </div>
      <div class="logo_mobile">
        <%= image_tag "logo_mobile.png" %>
      </div>
      <div class="menu">
        <ul>
          <li><%= link_to(t(".updates"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".questions"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".lang"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".sign_in"), new_user_session_path) %></li>
        </ul>
      </div>
      <div class="btn_menu">
        <div class="btn_line"></div>
        <div class="btn_line"></div>
        <div class="btn_line"></div>
      </div>
      <div class="menu_mobile">
        <%= image_tag "logo_menu.png" %>
        <ul>
          <li><%= link_to(t(".updates"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".questions"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".lang"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".sign_in"), new_user_session_path) %></li>
        </ul>
        <div class="button">
          <%= t(".create_free") %>
        </div>
        <div class="telephone_contact">
          8 (800) 400-40-40
        </div>
      </div>
    </div>
    <%= yield %>
    <footer>
      <div class="footer">
        <ul>
          <li><%= link_to t(".about"), static_pages_about_path %></li>
          <li>•</li>
          <li><%= link_to t(".security"), static_pages_security_path %></li>
          <li>•</li>
          <li><%= link_to t(".terms"), static_pages_terms_path %></li>
          <li>•</li>
          <li><%= link_to t(".careers"), static_pages_careers_path %></li>
        </ul>
        <div class="contacts">
          © 2017, <%= link_to 'Distodi', root_path %>
        </div>
        <div class="contacts">
          <%= t(".telephobe_number") %>
        </div>
        <div class="contacts">
          <%= mail_to 'support@distodi.com'%>
        </div>
        <div class="contacts">
          <%= link_to(t(".terms"), '#', class: 'footer__nav-link footer__nav-link_hidden') %>
        </div>
        <div class="contacts_mobile">© 2017, <%= link_to 'Distodi', root_path %>, <%= mail_to 'support@distodi.com'%></div>
        <div class="telephone_mobile"><a href="tel:<%= t(".telephobe_number") %>"><%= t(".telephobe_number") %></a></div>
        <!-- <hr> --><div class="social_net">
        <%= image_tag "insta.png" %>
        <%= image_tag "you.png" %>
        <%= image_tag "twit.png" %>
        <%= image_tag "facebook.png" %>
      </div>
    </div>
  </footer>
</body>
</html>
